.divFavorites{
    display: flex;
    min-height: 100vh;
    width: 100vw;
    background-color: #f9ebc7;
}

.cardsSection{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f9ebc7;
    padding: 0 10vw;
}

.sectionBack{
    /* background-color: #9e5344; */
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.bttnBack{
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 70px;
    background-color: #8e2b3f;
    color: #ffff;
    font-size: medium;
    font-weight: bolder;
}